[submodule "CRC-Multiomics-Integration"]
	path = CRC-Multiomics-Integration
	url = https://github.com/ar0700288/CRC-Multiomics-Integration.git
[submodule "AD-glial-states-genetic-risk"]
	path = AD-glial-states-genetic-risk
	url = https://github.com/ar0700288/AD-glial-states-genetic-risk.git
